.post {
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
}
.post__image {
    height: 50px;
    width: 100px;    
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.post__avatar {
    margin-right: 20px;
}

